 * {
        margin: 0;
        overflow: hidden;
    }
    
    body {
        width: 100vw;
        height: 100vh;
        background-image: url(S0.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #020202;
    }
    
    img {
        width: 2vw;
        height: 5vh;
    }
    
    header {
        width: 100vw;
        height: 7vh;
        background-color: rgba(62, 62, 62, 0.732);
        display: flex;
        text-align: center;
        align-items: center;
        font-size: 25px;
    
    }
    
    h2 {
        color: whitesmoke;
        width: 100vw;
        height: max-content;
        font-family: Tahoma
    }
    
    main {
        width: 100vw;
        height: 90vh;
        display: flex;
        flex-direction: row;
        position: relative;
    }
    
    footer {
        width: 100vw;
        height: 5vh;
        background-color: rgba(62, 62, 62, 0.732);
        text-align: center;
        
    }
    
    .menu-x input {
        border-radius: 20px;
        height: 45px;
        width: 175px;
        font-size: 19px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        background: rgb(128, 128, 132);
        margin-top: 2px;
    
    }
    
    .menu-y input {
        border-radius: 12px;
        height: 45px;
        font-size: 16px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        justify-content: center;
        background: rgb(128, 128, 132);
    }
    .menu-y input:hover {
        background-color: rgb(39, 35, 35);
        color: whitesmoke
    }

    .menu-x input:hover {
        background-color: rgb(39, 35, 35);
        color: whitesmoke;

    }
    
    /* Tela grande (1920x1080) */
    @media screen and (min-width: 1600px) {
        .menu-x {
            display: flex;
            position: relative;
            width: 80vw;
            height: 5vh;
            background-color: rgba(0, 0, 0, 0.579);
            margin-top: 15px;
            margin-left: 190px;
            justify-content: space-around;
    
        }
    
        .menu-y {
            width: 8vw;
            height: 40vh;
            background-color: rgba(0, 0, 0, 0.579);
            display: flex;
            position: absolute;
            margin-top: 250px;
            margin-left: 60px;
            flex-direction: column;
            justify-content: space-around;
    
        }
    
        .menu-y input:hover {
            background-color: rgb(39, 35, 35);
            color: whitesmoke
        }
    
        .menu-x input:hover {
            background-color: rgb(39, 35, 35);
            color: whitesmoke;

        }
    
        .corpo {
            background-color: rgba(46, 46, 46, 0.22);
            width: 70vw;
            height: 81vh;
            display: flex;
            position: absolute;
            margin-top: 80px;
            margin-left: 290px;
        }
    }
    
    /* Tela média (1280x720) */
    @media screen and (max-width: 1599px) and (min-width: 768px) {
        .menu-x {
            display: flex;
            position: relative;
            width: 80vw;
            height: 5vh;
            background-color: rgba(94, 81, 81, 0.579);
            margin-top: 15px;
            margin-left: 200px;
        }
    
        .menu-y {
            width: 15vw;
            height: 80vh;
            background-color: rgba(94, 81, 81, 0.579);
            display: flex;
            position: absolute;
            margin-top: 60px;
            margin-left: 20px;
            flex-direction: column;
        }
    
        .corpo {
            background-color: rgba(94, 81, 81, 0.579);
            width: 80vw;
            height: 80vh;
            display: flex;
            position: absolute;
            margin-top: 60px;
            margin-left: 200px;
        }
    }
    
    /* Tela pequena (max-width: 767px) */
    @media screen and (max-width: 767px) {
        .menu-x {
            display: flex;
            position: relative;
            width: 70vw;
            height: 5vh;
            background-color: rgba(94, 81, 81, 0.579);
            margin-top: 15px;
            margin-left: 160px;
        }
    
        .menu-y {
            width: 15vw;
            height: 70vh;
            background-color: rgba(94, 81, 81, 0.579);
            display: flex;
            position: absolute;
            margin-top: 80px;
            margin-left: 10px;
            flex-direction: column;
        }
    
        .corpo {
            background-color: rgba(94, 81, 81, 0.579);
            width: 70vw;
            height: 70vh;
            display: flex;
            position: absolute;
            margin-top: 80px;
            margin-left: 160px;
        }
    }
